# **THE SCIENCE TIMES**

## *Breaking New Story*

Science has indeed verified that adding an Artificial Neural Network to any problem's solution automatically makes it very freaking awesome. 


![](./science.jpg "Science")
